@import "tailwindcss";

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%; 
    margin: 0;
    padding: 15px 40px;
    border-bottom: solid 1px #ccc;
}

@media (max-width: 1024px) {
    nav {
        padding: 15px 20px;
    }
}

@media (max-width: 500px) {
    nav {
        padding: 15px 10px;
    }
    
}

nav .container>* {
    margin: 0;
    padding: 0;
}

nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


/* main div */


/* logo and the links div  */
nav .container>div>div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}



@media (max-width: 1024px) {
    nav .container .logo {
        font-size: 1.5rem;
    }

}

@media (max-width: 1024px) {
    nav .container .logo {
        font-size: 1.2rem;
    }

}



nav .container ul li {
    margin: 0;
    padding: 5px 10px;
}

nav .container ul li>* {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;

}





@media (max-width: 1024px) {
    nav .container .big-menu {
        display: none;
    }
}

nav .mobile-menu {
    display: none;
    top: 0%;
    height: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: #999 -11px -1px 20px 3px;
    position: fixed;
    z-index: 100;
    width: 200px;
    margin: 0;
}

nav .mobile-menu div {
    transition: all 0.3s ease-in-out;
}

nav .mobile-menu h1 {
    border-bottom: 2px solid #000;
}








nav .container  .profile-toggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: #bbb;
}







@media (max-width: 1024px) {

    nav .container .toggle-menu {
        background-color: #bbb;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        width: 35px;
        padding: 5px;
        gap: 3px;
        border-radius: 10px;
    }

    nav .container .toggle-menu span {
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        margin: 2px 0;
        transform-origin: 50%;
    }

    nav .container .toggle-menu .s1 {
        width: 10px;
        align-self: flex-end;
    }

    nav .container .toggle-menu .s3 {
        width: 10px;
        align-self: flex-end;
    }
}
