@import "tailwindcss";



.section-padding {
  padding: 4rem 8rem;
}

@media (max-width: 1024px) {
  .section-padding {
    padding: 3rem 4rem;
  }
}

@media (max-width: 500px) {
  .section-padding {
    padding: 2rem 1rem;
  }
}
